### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
uniquePlayers = purchase_data["SN"].unique()
# uniquePlayers
uniquePlayersCount = len(uniquePlayers)
uniquePlayersCount

576

In [3]:
uniquePlayersDF = pd.DataFrame({"Total Players":uniquePlayersCount}, index=[0])
uniquePlayersDF

   Total Players
0            576

In [4]:
playerDemo = purchase_data.loc[:,["SN","Age","Gender"]].drop_duplicates()
playerDemo.count()

SN        576
Age       576
Gender    576
dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
uniqueItems = len(purchase_data["Item Name"].unique())
# uniqueItems
averagePrice = round(purchase_data["Price"].mean(), 2)
totalPurchases = purchase_data["Price"].count()
totalRevenue = round(purchase_data["Price"].sum(), 2)

itemsDF = pd.DataFrame({"Unique Items": uniqueItems, "Average Price": [averagePrice], 
                                "Total Revenue": [totalRevenue], "Total Purchases": [totalPurchases]})
itemsDF

   Unique Items  Average Price  Total Revenue  Total Purchases
0           179           3.05        2379.77              780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
totalGenders = playerDemo["Gender"].value_counts()
# totalGenders
percentGenders = round(totalGenders / uniquePlayersCount * 100, 2)
# percentGenders
genderDemoDF = pd.DataFrame({"Total Count": totalGenders, "Percentage of Players": percentGenders})
genderDemoDF

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
groupbyGender = purchase_data.groupby(["Gender"])
# groupbyGender.head()
totalPurchaseGender = groupbyGender["Price"].sum()
# totalPurchaseGender
purchaseCountGender = groupbyGender["Price"].count()

averageGenderPurchase = round(groupbyGender["Price"].mean(), 2)

averagePerPerson = round(totalPurchaseGender / genderDemoDF["Total Count"], 2)

purchasingAnalysisGenderDF = pd.DataFrame({"Purchase Count": purchaseCountGender, "Average Purchase Price": averageGenderPurchase,
                                           "Total Purchase Value": totalPurchaseGender, "Avg Total Purchase per Person":averagePerPerson})
purchasingAnalysisGenderDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [25]:
playerDemo.head()

              SN  Age Gender Age Range
0        Lisim78   20   Male     20-24
1    Lisovynya38   40   Male       40+
2     Ithergue48   24   Male     20-24
3  Chamassasya86   24   Male     20-24
4      Iskosia90   23   Male     20-24

In [28]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999999]
binNames = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
ageBins = pd.cut(purchase_data["Age"], bins, labels=binNames)
purchase_data["Age Range"] = ageBins
# playerDemo

totalAge = purchase_data["Age Range"].value_counts()

percentAge = round(totalAge / uniquePlayersCount * 100, 2)
# percentGenders
ageDemoDF = pd.DataFrame({"Total Count": totalAge, "Percentage of Players": percentAge})
# ageDemoDF

groupbyAge = purchase_data.groupby(["Age Range"])

totalPurchaseAge = groupbyAge["Price"].sum()

purchaseCountAge = groupbyAge["Price"].count()

averageAgePurchase = round(totalPurchaseAge / ageDemoDF ["Total Count"], 2)

AgePurchaseDemo = pd.DataFrame({"Purchase Count": purchaseCountAge, "Average Purchase Price": averageAgePurchase,
                        "Total Purchase Value": totalPurchaseAge})
AgePurchaseDemo

       Purchase Count  Average Purchase Price  Total Purchase Value
<10                23                    3.35                 77.13
10-14              28                    2.96                 82.78
15-19             136                    3.04                412.89
20-24             365                    3.05               1114.06
25-29             101                    2.90                293.00
30-34              73                    2.93                214.00
35-39              41                    3.60                147.67
40+                13                    2.94                 38.24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
groupbySpender = purchase_data.groupby(["SN"])
# groupbySpender.head()
spenderPurchaseCount = groupbySpender["Item Name"].count()
# spenderPurchaseCount.head()

averageSpenderPurchase = round(groupbySpender["Price"].mean(), 2)
# averageSpenderPurchase

purchaseCountSpender = groupbySpender["Price"].sum()
# purchaseCountSpender.head()
topSpenderDF = pd.DataFrame({"Purchase Count": spenderPurchaseCount, "Average Purchase Price": averageSpenderPurchase,
                             "Total Purchase Value": purchaseCountSpender})
sortTopSpenderDF = topSpenderDF.sort_values("Total Purchase Value", ascending=False)
sortTopSpenderDF.head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
mostPop = purchase_data.loc[:,["Item ID","Item Name","Price"]]
# mostPop.count()
groupbyItem = mostPop.groupby(["Item ID", "Item Name"])
# groupbyItem
purchaseCountItem = groupbyItem["Item Name"].count()
# purchaseCountItem
averageItemPrice = round(groupbyItem["Price"].mean(), 2)
# averageItemPrice
totalPurchaseItem = groupbyItem["Price"].sum()
# totalPurchaseItem
mostPopDF = pd.DataFrame({"Purchase Count": purchaseCountItem, "Item Price": averageItemPrice,
                             "Total Purchase Value": totalPurchaseItem})
sortMostPopDF = mostPopDF.sort_values("Purchase Count", ascending=False)
sortMostPopDF.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
mostProfDF = sortMostPopDF.sort_values("Total Purchase Value", ascending=False)
mostProfDF.head()